/*! city-switcher*/
.header-part .city-switcher-wrapper {
	color: #fff;
}

.header-part .city-call-phone {
	color:  #fff;
}

.header-part.sticky .city-call-phone {
	color: #0d6efd;
}

.header-part.sticky .city-switcher {
	color: #444;
}

.header-part .city-switcher {
	min-width: 135px;
}

.city-select__item {
	padding: 5px 10px;
	cursor:  pointer;
}

.city-select__item--active,
.city-select__item:hover {
	color: #0d6efd;
}

.sidebar-content .city-switcher {
	margin-bottom: 5px;
}

.city-call-phone {
	display: block;
}

.sidebar-content .city-call-phone {
	margin-right: 2em;
	text-align: right;
}

.header-part .city-call-phone  {
	min-width: 160px;
}

/*! svg*/
.svg-icon {
    fill: currentColor;
    stroke: currentColor;
    height: 30px;
    width: 30px;
}



.ya-share2__container_size_l .ya-share2__badge .ya-share2__icon {
	width: 45px !important;
	height: 42px !important;
	background-size:  32px 32px !important;
	background-position: center;
	background-repeat: no-repeat;
}

.ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
	margin-right: 15px !important;
	margin-bottom: 15px !important;
}

.ya-share2__badge {
	border-radius: 6px !important;
}