dist/
node_modules/
vendor/*
vendor/bootstrap/*
!vendor/bootstrap/bootstrap.min.css
vendor/countdown/*
vendor/slickslider/
!vendor/slickslider/ltr-slick-custom.js
vendor/venobox/*
initial/
deploy/
old/
css/**/*
*.sublime-*
*.rar
*.zip
